# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl
*.pt
*.onnx

# =====================
# Virtual Environments
# =====================
env/
venv/
myenv/
.venv/

# =====================
# Environment variables
# =====================
.env
.env.*

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# ML / CV
# =====================
runs/
weights/
*.h5
*.ckpt

# =====================
# Logs
# =====================
*.log
logs/

# =====================
# VSCode
# =====================
.vscode/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db